/*
Inspiration ->
Title: CSS Tutorial: Animated Geometric Galaxy Background
Author: Jen Saxena
Date: February 13, 2018

URL: https://medium.com/@jensaxena/css-tutorial-animated-geometric-galaxy-background-ad3835c36ce1
*/

body{
    background-image: linear-gradient(#030642,#7145ea, #dc92fa);
    height: 100vh; 
    overflow: hidden;
}
.title h1 {
    text-align: center; 
    font-size: 100px;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fcf3d3;
    font-family: 'Satisfy';

    text-shadow: 5px 5px 0px #ff7c57, 
    10px 10px 0px #e437a5, 
    15px 15px 0px  #7739ab;
}
.title a {
    text-decoration: none;
}
.credits h1 {
    text-align: center; 
    font-size: 40px;
    position: absolute;
    top: 53%;
    left: -0.1%;
    width: 100%;
    color: #fcf3d3;
    font-family: 'Satisfy';

    text-shadow: 2px 2px 0px #ff7c57, 
    4px 4px 0px #e437a5, 
    6px 6px 0px  #7739ab;
}
.border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: radial-gradient(#90c2e9, #ffff);
    opacity: 75%;
    box-shadow: 0 0 20px 20px#e9eaff;
}

h2, h3 {
    color: #fadf89;
}
a {
    color: aqua;
}
.space{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.stars1{
    background-image: radial-gradient(1px 1px at 50px 50px, white, rgba(255, 255, 255, 0));
    background-size: 100px 100px;
    bottom: -50%;
    animation: rotate 30s linear infinite;
}
.stars2{
    background-image: radial-gradient(3px 2px at 75px 75px, white, rgba(255, 255, 255, 0));
    background-size: 100px 100px;
    bottom: -50%;
    animation: rotate 90s linear infinite;
}
.stars3{
    background-image: radial-gradient(2px 1px at 25px 40px, white, rgba(255, 255, 255, 0));
    background-size: 100px 100px;
}
.stars4 {
    background-image: radial-gradient(2px 2px at 45px 25px, white, rgba(255, 255, 255, 0));
    background-size: 100px 100px;
    animation: rotate 180s linear infinite;

}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* 
pretty blue - #333fc0
0c116b
*/