*{
    font-family: 'comfortaa';
    color: white;
}
body {
    background-image: linear-gradient(135deg, #fc98a9, #ffdfa0);
    height: 100vh; 
    overflow: hidden;
}
h3, h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
    width: 100%;
}
ul {
    font-size: 70px;
    display: block;
    overflow: hidden;
}
.top {
    padding-top: 5%;
}
.wanted {
    position: relative;
    font-size: 70px;
}
.lineone {
    opacity:0;
    position: relative;
    animation: fade 2s forwards;
    animation-delay: 0.5s;
}
.linetwo {
    opacity: 0;
    position: relative;
    animation: fade 2s forwards;
    animation-delay: 1s;
}
.linethree {
    opacity: 0;
    position: relative;
    animation: fade 2s forwards;
    animation-delay: 1.5s;
}
.linefour {
    opacity: 0;
    position: relative;
    animation: fade 2s forwards;
    animation-delay: 2s;
}
.linefive {
    opacity: 0;
    position: relative;
    animation: fade 1s forwards;
    animation-delay: 2.5s;
}
.comfort {
    opacity: 0;
    font-family: 'Modak';
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left:30%;
    text-align: center;
    animation: fade 5s forwards;
    animation-delay: 3s;
    letter-spacing: 20px;
}
.middle {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.wrapper .your{
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    left:15%;
}
.wrapper {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 2s forwards;
    animation-delay: 5s;
}
.heartContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.heart ul {
    height: 1em;
}
.heart li {
    opacity: 0;
    text-shadow: white;
    position: relative;
    text-align: center;
    left: 5%;
    width: 5em;
    animation: roll 6s linear forwards;
    animation-delay: 4s;
}
.heart a{
    color: #f71c20;
}

.heart:hover {
    animation: stretch 3s ease-in-out infinite;
}

@keyframes roll {
    0% {
        opacity: 1;
        transform: translate(0, -15em); 
    }
    20% {
        transform: translate(0, -10em);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0em); 
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes stretch {
    0% {transform: scaleY(1)}
    25%{transform: scaleX(2) scaleY(2)}
    50% {transform: scaleX(2.5) scaleY(2.5)}
    75%{transform: scaleX(2) scaleY(2)}
    100% {transform: scaleY(1)}
}
@keyframes fade {
    0% { opacity: 0;
        transform: translateY(30px);}
    60% {opacity: 1;
        transform: translateY(-10px);}
    100% {opacity: 1;
        transform: translateY(0);}
}


/*
마음 - heart
편안 - comfort
*/