body {
    background-image: radial-gradient(#67332b, #260c08);
    font-family: 'Comfortaa';
    height: 100vh;
    display: flex;
    margin: 0;
}
.circle1 {
    position: absolute;
    align-items: center;
    left: 25%;
    width: 763px;
    height: 763px;
    background-color: #f4cde0;
    border-radius: 50%;
    z-index: 98;
}
.o1 {
    position: absolute;
    align-items: center;
    font-size: 200px;
    left: 25%;
    color: #f4cde0;
    z-index: 99;
}
.o2 {
    position: absolute;
    align-items: center;
    font-size: 100px;
    top: 18.5%;
    left: 38%;
    color: #f4cde0;
    z-index: 99;
}
.o3 {
    position: absolute;
    align-items: center;
    font-size: 50px;
    top: 24.5%;
    left: 44.5%;
    color: #f4cde0;
    z-index: 99;
}
.circle5 {
    opacity: 30%;
    position: absolute;
    align-items: center;
    left: 38%;
    top: 26%;
    width: 363px;
    height: 363px;
    background-color: #e1b3ac;
    border-radius: 50%;
    z-index: 99;
}
.circle6 {
    position: absolute;
    align-items: center;
    left: 38.7%;
    top: 27.5%;
    width: 343px;
    height: 343px;
    background-color: #67332b;
    border-radius: 50%;
    z-index: 99;
}
.o1, .o2, .o3 {
    animation: pulse 3s ease-in-out infinite;
}
.container {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.hot {
    font-size: 100px;
    text-transform: uppercase;
}

.one {
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 1s;
}
.h {
    position: absolute;
    top: 18%;
    left: 3%;
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 1s;
}
.t {
    position: absolute;
    top: 18%;
    left: 75%;
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 2s;
}
.two {
    padding-top:180px;
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 3s;
}
.three {
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 4s;
}
.four {
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 5s;
}
.five {
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 6s;
}
a {
    text-decoration: none;
    color: white;
}
.magic {
    padding-top: 5px;
    font-family: 'Modak';
    letter-spacing: 10px;
    font-size: 50px;
    opacity: 0;
    animation: fade 3s ease forwards;
    animation-delay: 7s;
}
.magic:hover {
    color:#e1b3ac;
    text-shadow: 10px 10px 5px #16060a;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}